<div class="container" *ngFor="let item of products; let i = index">
    <a href="#products-{{ i }}" class="btn btn-info" data-toggle="collapse">{{item.name}}</a>
    <div id="products-{{ i }}" class="collapse">
      <ul style="list-style: none">
        <li> {{item.name}}</li>
        <li> <img src="{{item.imageUrl}}"></li>
      </ul>
    </div>
  </div>


